<div class="container text-center">
    <img src="assets/asd.jpg" class="center-block rounded-circle">
    <h1>John Doe</h1>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis massa at odio porttitor sollicitudin.
      Morbi a lectus placerat, lobortis elit sed, interdum nisl. Donec pharetra tempor efficitur. Curabitur ac porttitor metus,
      non egestas ante. Aliquam convallis tempor nulla, et accumsan arcu tristique et. Nulla nec augue auctor, blandit erat eget, lobortis velit. Sed scelerisque pretium auctor.
    </p>

    <h2>Behov</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis massa at odio porttitor sollicitudin.
      Morbi a lectus placerat, lobortis elit sed, interdum nisl. Donec pharetra tempor efficitur. Curabitur ac porttitor metus,
      non egestas ante. Aliquam convallis tempor nulla, et accumsan arcu tristique et. Nulla nec augue auctor, blandit erat eget, lobortis velit. Sed scelerisque pretium auctor.
    </p>
</div>
