<div class="container text-center">
    <img src="assets/asd.jpg" class="center-block rounded-circle">
    <h1>{{profile.name}}</h1>
    <hr>
    <h5 class="text-left">Age {{profile.age}}</h5>
    <h5 class="text-left">Languages</h5>
    <div class="row">
      <div *ngFor = "let lang of profile.language">
          {{lang}} &nbsp;    
      </div>
    </div>
    
    <h5 class="text-left">Tags</h5>
    <div class="row">
      <div *ngFor = "let tag of profile.tags">
          {{tag}} &nbsp;    
      </div>
    </div>
    
</div>
<button (click) = "loadProfile()">test</button>
