<div class="container">
  <h1 class="text-center">Contacts</h1>
  <hr>
  <div class="paragraphs">
      <div *ngFor = "let user of users">
        <div class="row">
          <div class="span4">
            <div class="clearfix content-heading">
              <img class="rounded float-left" src="assets/johndoe2.jpg"/>
              <h4 class="text-center" [routerLink]="['/profile', user.name]">{{user.name}}</h4>
            </div>
          </div>
            <div class="text-right">
              <a routerLink="/chat">
                <span style="font-size: 35px; margin-left: 90px" class="oi oi-envelope-closed text-right"></span>
              </a>
          </div>
        </div>
      </div>
  </div>
</div>
