<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bracke.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrap">


  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1 class="text-center">Your matches!</h1>
    </div>
    <div class="paragraphs">
      <div class="row">
        <div class="span4">
          <div class="clearfix content-heading">
            <img class="pull-left" src="johndoe2.jpg"/>
            <h3>John Doe &nbsp </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <div class="clearfix content-heading">
            <img class="pull-left" src="johndoe2.jpg"/>
            <h3>John Doe &nbsp </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <div class="clearfix content-heading">
            <img class="pull-left" src="johndoe2.jpg"/>
            <h3>John Doe &nbsp </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
  <div class="row" id="bottomNav">
    <div class="col-xs-4 text-center"><a href="main.html"><i class=""></i><br>Start</a></div>
    <div class="col-xs-4 text-center"><a href="match.html"><i class=""></i><br>Matches</a></div>
    <div class="col-xs-4 text-center"><a href="profil.html"><i class=""></i><br>Profile</a></div>
  </div>
  </div>
</div>
</body>
</html>
