<div class="container">
  <h1 class="text-center">Your matches!</h1>
  <hr>
  <div class="paragraphs">
    <div class="row">
      <div class="span4">
        <div class="clearfix content-heading">
          <img class="pull-left" src="assets/johndoe2.jpg"/>
          <h3>John Doe</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <div class="clearfix content-heading">
          <img class="pull-left" src="assets/johndoe2.jpg"/>
          <h3>John Doe</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <div class="clearfix content-heading">
          <div class="col-xs-3">
            <img class="pull-left" src="assets/johndoe2.jpg"/>
          </div>

          <div class="col-xs-9">
            <h3>John Doe</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
